<aside>
  <a href="#" class="special">Explore</a>

  <ul>
    <li><a href="#">Home</li></a>
    <li><a href="#">Places</li></a>
    <li><a href="#">Video</li></a>
    <li><a href="#">Locations</li></a>
    <li><a href="#">About</li></a>
    <li><a href="#">Book</li></a>
    <li><a href="#">Photos</li></a>
  </ul>

  <a href="#" class="special">Learn More</a>

</aside>

<main>
  <div class="logo">
    <h1>Discover Shinjuku</h1>
    <h3>Eat, Drink, Shop, and More</h3>
  </div>
</main>
